.scroll {
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding: 3px;
    border: 2px solid;
    border-radius: 50%;
    background-color: var(--secondaryColor);
    position: fixed;
    bottom: 20px;
    right: 20px;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .scroll.visible {
    visibility: visible;
  }
  